.home-content-note-screen-wrapper{
    margin: 20px 20px 0px 10px;
    .note{
        margin-top: 20px;
        padding: 10px;
        .header{
            .title{
                font-weight: 400;
                font-size: 16px;
                color: #c3c9d0;
            }
        }
        .content{
            margin-top: 10px;
            .controls{
                textarea {
                    font-size: 14px;
                    width: 100%;
                    padding: 8px;
                    outline: none;
                    resize: none;
                    height: calc((100vh - 460px));
                    border: 1px solid #e0e0e0;
                    border-radius: 4px;
                    height: 200px;
                    &:focus{
                        border: 1px solid #0088FF;
                    }
                }
            }
        }
    }
    .material{
        margin-top: 20px;
        padding: 10px;
        .header{
            .title{
                font-size: 25px;
                font-weight: 600;
            }
        }
        .content{
            width: 90%;
            margin: auto;
            margin-top: 10px;
            min-height: 100px;
            max-height: 200px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                height: 5px;
                background: #fff;
                width: 7px;
                cursor: pointer;
                //border-radius: 5px;
              }
            &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            border-radius: 5px;
            width: 5px;
            cursor: pointer;
            }
            .is-empty{
                text-align: center;
                margin-top: 10px;
            }
            .item{
                cursor: pointer;
                background-color: #f4f6f8;
                padding: 5px 0px;
                margin-bottom: 10px;
                .item-lable{
                    font-size: 16px;
                    margin-left: 5px;
                }
            }
            .no-document{
                margin-top: 10px;
                color: #c3c9d0;
                font-weight: 400;
            }
        }
    }
    .slide{
        margin-top: 20px;
        padding: 10px;
        min-height: 300px;
        max-height: 400px;
        .header{
            .title{
                font-size: 25px;
                font-weight: 600;
            }
        }
        .content{
            width: 90%;
            margin: auto;
            margin-top: 10px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                height: 5px;
                background: #fff;
                width: 7px;
                cursor: pointer;
                //border-radius: 5px;
              }
              &::-webkit-scrollbar-thumb {
                background: #c4c4c4;
                border-radius: 5px;
                width: 5px;
                cursor: pointer;
              }
              .is-empty{
                  text-align: center;
                  margin-top: 40px;
              }
            .item{
                cursor: pointer;
                background-color: #f4f6f8;
                padding: 5px 0px;
                margin-bottom: 10px;
                .item-lable{
                    font-size: 16px;
                    margin-left: 5px;
                }
            }
            .no-document{
                margin-top: 10px;
                color: #c3c9d0;
                font-weight: 400;
            }
        }
    }
}
