.home-content-action-screen-wrapper {
  margin: 20px 10px 0px 20px;
  .home-content-left {
    width: 100%;
    .course {
      width: 100%;
      padding: 10px 10px 10px 10px;
      margin-bottom: 20px;
      .header {
        font-weight: 400;
        font-size: 16px;
        color: #c3c9d0;
      }
      .content {
        margin-top: 5px;
        position: relative;  
        .is-empty {
          text-align: center;
        }
        .div-active-lable {
          width: 90%;
          margin: auto;
          background-color: #f4f6f8;
          height: 40px;
          border-radius: 5px;
          align-items: center;
          cursor: pointer;
          position: relative;
          margin-bottom: 10px;
          .lable {
            font-size: 18px;
            font-weight: 600;
            margin-left: 14px;
            padding-top: 7px;
            padding-right: 40px;
          }
          .down-icon {
            right: 12px;
            top: 9px;
          }
        }
        .drop-down-menu-session {
          position: absolute;
          max-height: 300px;
          min-height: 100px;
          top: 44px;
          z-index: 99;
          overflow-y: auto;
          padding-top: 10px;
          width: 90%;
          right: 5%;
          &::-webkit-scrollbar {
            height: 5px;
            background: #fff;
            width: 7px;
            cursor: pointer;
            //border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            border-radius: 5px;
            width: 5px;
            cursor: pointer;
          }
          .item {
            height: 40px;
            cursor: pointer;
            &:hover {
              background-color: #f8f9fa;
            }
            .item-lable {
              font-size: 18px;
              font-weight: 600;
              padding-left: 13px;
              padding-right: 15px;
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
    .session {
      width: 100%;
      padding: 10px 10px 10px 10px;
      .header {
        font-weight: 400;
        font-size: 16px;
        color: #c3c9d0;
      }
      .content {
        margin-top: 5px;
        position: relative;
        .is-empty {
          text-align: center;
        }
        .div-active-lable {
          width: 90%;
          margin: auto;
          background-color: #f4f6f8;
          height: 40px;
          border-radius: 5px;
          align-items: center;
          cursor: pointer;
          position: relative;
          margin-bottom: 10px;
          .lable {
            font-size: 18px;
            font-weight: 600;
            margin-left: 14px;
            padding-top: 7px;
            padding-right: 40px;
          }
          .down-icon {
            right: 12px;
            top: 9px;
          }
        }
        .drop-down-menu-session {
          position: absolute;
          max-height: 300px;
          min-height: 100px;
          top: 44px;
          z-index: 99;
          overflow-y: auto;
          padding-top: 10px;
          width: 90%;
          right: 5%;
          &::-webkit-scrollbar {
            height: 5px;
            background: #fff;
            width: 7px;
            cursor: pointer;
            //border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            border-radius: 5px;
            width: 5px;
            cursor: pointer;
          }
          .item {
            height: 40px;
            cursor: pointer;
            &:hover {
              background-color: #f8f9fa;
            }
            .item-lable {
              font-size: 18px;
              font-weight: 600;
              padding-left: 13px;
              padding-right: 15px;
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
    .assignment {
      width: 100%;
      padding: 10px 10px 10px 10px;
      margin-top: 20px;
      .header {
        font-weight: 400;
        font-size: 16px;
        color: #c3c9d0;
      }
      .content {
        margin-top: 5px;
        position: relative;
        .is-empty {
          text-align: center;
        }
        .div-active-lable {
          width: 90%;
          margin: auto;
          background-color: #f4f6f8;
          height: 40px;
          border-radius: 5px;
          align-items: center;
          cursor: pointer;
          position: relative;
          margin-bottom: 10px;
          .lable {
            font-size: 18px;
            font-weight: 600;
            margin-left: 14px;
            padding-top: 7px;
            padding-right: 40px;
          }
          .down-icon {
            right: 12px;
            top: 9px;
          }
        }
        .drop-down-menu-session {
          position: absolute;
          max-height: 300px;
          min-height: 100px;
          top: 44px;
          z-index: 99;
          overflow-y: auto;
          padding-top: 10px;
          width: 90%;
          right: 5%;
          &::-webkit-scrollbar {
            height: 5px;
            background: #fff;
            width: 7px;
            cursor: pointer;
            //border-radius: 5px;
          }
          &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            border-radius: 5px;
            width: 5px;
            cursor: pointer;
          }
          .item {
            height: 40px;
            cursor: pointer;
            &:hover {
              background-color: #f8f9fa;
            }
            .item-lable {
              font-size: 18px;
              font-weight: 600;
              padding-left: 13px;
              padding-right: 15px;
              padding-top: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
    .material {
      margin-top: 20px;
      padding: 10px;
      .header {
        .title {
          font-size: 25px;
          font-weight: 600;
        }
      }
      .content {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        min-height: 125px;
        max-height: 125px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          height: 5px;
          background: #fff;
          width: 7px;
          cursor: pointer;
          //border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          border-radius: 5px;
          width: 5px;
          cursor: pointer;
        }
        .is-empty {
          text-align: center;
          margin-top: 10px;
        }
        .item {
          cursor: pointer;
          background-color: #f4f6f8;
          padding: 5px 0px;
          margin-bottom: 10px;
          .item-lable {
            font-size: 16px;
            margin-left: 5px;
          }
        }
        .no-document {
          margin-top: 10px;
          color: #c3c9d0;
          font-weight: 400;
        }
      }
    }
    .slide {
      margin-top: 20px;
      padding: 10px;
      min-height: 300px;
      max-height: 400px;
      .header {
        .title {
          font-size: 25px;
          font-weight: 600;
        }
      }
      .content {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          height: 5px;
          background: #fff;
          width: 7px;
          cursor: pointer;
          //border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          border-radius: 5px;
          width: 5px;
          cursor: pointer;
        }
        .is-empty {
          text-align: center;
          margin-top: 40px;
        }
        .item {
          cursor: pointer;
          background-color: #f4f6f8;
          padding: 5px 0px;
          margin-bottom: 10px;
          .item-lable {
            font-size: 16px;
            margin-left: 5px;
          }
        }
        .no-document {
          margin-top: 10px;
          color: #c3c9d0;
          font-weight: 400;
        }
      }
    }
  }
}
