.home-content-screen-wrapper{
    margin-top: 80px;
    position: relative;
    .content-action{
        width: calc((100% - 420px)/3);
    }
    .content-video-slide{
        width: calc((100% + 840px) /3);
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
    }
    .content-note{
        width: calc((100% - 420px)/3);
    }
}
