.dropdown-menu-more{
    position: absolute;
    width: 350px;
    border: 1px solid #dddddd;
    background: #fff;
    box-shadow: 0px 2px 2px 0px rgba(158, 158, 158, 0.5);
    right: 0;
    left: auto !important;
    top: 39px !important;
    transform: none !important;
    padding: 0;
    margin: 0;

    &:after,
    &:before {
      right: 5px;
      top: -18px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:before {
      border-color: transparent;
      border-bottom-color: #ddd;
      border-width: 9px;
    }

    &:after {
      border-color: transparent;
      border-bottom-color: #fff;
      border-width: 7px;
      right: 7px;
      top: -14px;
    }

    &.dropdown-support {
      box-shadow: #c6c6c6 0 0 10px 5px;
      border: none;
      right: -25px;
      top: 50px !important;

      &:after {
        right: 40px;
        border-bottom-color: #f3f6f8;
      }

      &:before {
        right: 39px;
      }
    }

    .info-active {
      padding: 8px 17px 8px 12px;
      .avatar {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        position: relative;
        margin-right: 15px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .status {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: #c50000;
          position: absolute;
          right: -2px;
          bottom: 3px;
          box-sizing: border-box;

          &.active {
            background: #47D55E;
            border: 1px solid #FFFFFF;
          }

          &.inactive {
            background: #CDCCCC;
            border: 1px solid #FFFFFF;
          }
        }
      }

      p {
        font-size: 15px;
        font-weight: 500;
        color: #5c5c5c;
        line-height: 22px;
      }

      span {
        display: block;
        font-size: 14px;
        line-height: 22px;
        color: #c50000;

        &.active {
          color: #47D55E;
        }

        &.inactive {
          color: #CDCCCC;
        }
      }


      .logout-action {
        cursor: pointer;
      }
    }



    .authorization {
      margin: 7px;
      padding: 8px 15px 8px 10px;
      position: relative;
      cursor: pointer;
      color: #212B35;
      border-radius: 6px;
      background: #fde9ed;

      .status-content {
        margin-left: 10px;

        .auth-status {
          color: #212b35;
          font-size: 14px;
        }
      }

      .status {
        font-size: 14px;
        color: #f02849;
        font-weight: 500;
      }
    }

    img {
      width: 24px;
      margin-right: 12px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
    }




}
